body {
    margin: 0;
}
#main-disp {
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 80%;
    max-width: 80%;
    height: 20rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px;
    grid-column-gap: 2rem;

    margin-left: auto;
    margin-right: auto;
}


#user-info {
    grid-column: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#search-field {
    grid-area: 2 / 1 / 3 / 3;
}


#doctor-info {
    grid-column: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#doc-bio {
    grid-area: 2 / 1 / 3 / 3;
}
