#main-disp {
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px;
}

.box {
    padding: 2rem;
    background-color: gray;
}
#user-info {
    grid-column: 1;
    height: 20rem;
}
#doctor-photo {
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5rem;
}
#doctor-name {
    grid-column: 3;
}


#doc-photo {
    border-radius: 50%;
    width: 100%;
    height: inherit;
}

* {
    border: 1px solid blue;
}
